html, 
body {
  font-family: Arial, sans-serif;
  background-color: #54BEC0;
}


ul {
  list-style-type: none;
}

.btn {
  width: 10rem;
  height: 4rem;
  margin: 10px;
  background-color: #394E6B;
  color: white;
}

.modal-footer, .modal-header, .modal-body {
  background-color: #f6d852;
  color: #394f6b;
  border-color: #394f6b;
}

.list-group-horizontal {
  margin-top: 3.5rem;
}


nav {
  align-items: center;
  background-color: #f56586 ;
  color: white;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.nav {
  flex-wrap: nowrap;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #f6d852;
  text-decoration: none;

}

#search-form {
  width: 20rem;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  margin-left: 10px;
}





